---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title = "404: Not Found" includeSidebar={false}>
  <div class="text-center">
    <h1 class="text-[14rem] font-bold mb-2">404</h1>
    <h3 class="text-3xl">La pagina no fue encontrada. :/ </h3>
    <a class="btn btn-primary mt-9" href="/">Volver al inicio</a>
  </div>
</BaseLayout>
