---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about" sideBarActiveItemID="about">
  <div class="text-2xl md:text-3xl lg:text-4xl mb-6 lg:mb-10 w-full font-bold">
    Sobre <span class="text-[#69c7c7]">Mi</span>
  </div>

  <div class="mb-8 flex flex-col md:flex-row md:mt-14 items-start">
    <div class="text-lg font-bold">
      Hola, mi nombre es <span class="text-[#69c7c7]">Lautaro Rodriguez</span>, soy de Argentina y actualmente me desempeño
      como <span class="text-[#69c7c7]">desarrollador de software full-stack</span>, con un enfoque en el desarrollo <span class="text-[#69c7c7]">front-end</span>
      y la experiencia del usuario, usando tecnologías como <span class="text-[#69c7c7]">React</span>,
      <span class="text-[#69c7c7]">Astro</span>, <span class="text-[#69c7c7]">React Native</span>,
      <span class="text-[#69c7c7]">JavaScript</span>, <span class="text-[#69c7c7]">TypeScript</span>, 
      <span class="text-[#69c7c7]">Bootstrap</span>, <span class="text-[#69c7c7]">Tailwind</span>,
       <span class="text-[#69c7c7]">CSS</span>, <span class="text-[#69c7c7]">Node.js</span>, 
       <span class="text-[#69c7c7]">Express.js</span>, <span class="text-[#69c7c7]">MongoDB</span>, y <span class="text-[#69c7c7]">MySQL</span>.<br><br>
      Mi interés por la tecnología y la programación surgió mientras cursaba una Tecnicatura de grado Universitario
      en Producción y Automatización en la Universidad de Cuyo. En la clase de informática tuve mi primer contacto
        con el mundo de la programación. Motivado por la curiosidad, continué estudiando de manera autodidacta,
        luego en una Tecnicatura enfocada en el desarrollo de software y <span class="text-[#69c7c7]"> decidí que es a esto a lo que quería dedicarme
          a nivel profesional</span>.<br><br>
      Siempre estoy comprometido con un<span class="text-[#69c7c7]"> constante crecimiento</span> y mejora en mis habilidades,
       buscando adaptarme a los nuevos avances tecnológicos y superarme a nivel profesional y personal.


    </div>
  </div>

  <div class="flex flex-col md:flex-row gap-6 md:gap-10">
    <div>
      <span class="text-[#69c7c7]">Intereses</span>
      <ul class="list-disc ml-4">
        <li>Programación</li>
        <li>Desarrollo de software</li>
        <li>FrontEnd</li>
        <li>Entrenamiento</li>
        <li>Ajedrez</li>
        <li>Música</li>
        <li>Deportes</li>
        <li>Lectura</li>
        <li>Escribir</li>
      </ul>
    </div>
    <div>
      <span class="text-[#69c7c7]">Idiomas</span>
      <ul class="list-disc ml-4">
        <li>Español</li>
        <li>Inglés</li>
      </ul>
    </div>
  </div>
</BaseLayout>
