---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold"><span class="text-[#69c7c7]">Perfil</span></div>
  </div>

  <div class="mb-10"> 
    Soy un Desarrollador de Software en constante crecimiento y aprendizaje, 
    tanto en mi ámbito profesional como personal. Actualmente, me desempeño 
    como Desarrollador Web Frontend, trabajando con tecnologías como React,
    Node.js, Astro, JavaScript, TypeScript, Bootstrap, Tailwind, CSS, SASS,
    entre otras.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"><span class="text-[#69c7c7]">Experiencia</span></div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Frontend Web Developer en VEGNA.TECH"
      subtitle="MAY . 2024 - ACTUALIDAD - Argentina"
    >
    Diseño, desarrollo y mantenimiento de páginas web utilizando tecnologías como: 
    - JavaScript
    - TypeScript
    - React
    - Astro
    - CSS
    - Bootstrap
    - Tailwind CSS
    </TimeLineElement>
    <TimeLineElement
      title="Desarrollador de software - software Developer"
      subtitle="FREELANCER - Autonomo"
    >
    Diseño UX/UI - Frontend - Backend
    </TimeLineElement>
    <TimeLineElement
      title="Soporte Técnico - IT support en Walmart Argentina"
      subtitle="2018 - 2020"
    >
   
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"><span class="text-[#69c7c7]">Educación</span></div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Tecnicatura Universitaria en Desarrollo de Software (pausado) - Universidad Nacional de Cuyo (uncuyo)"
      subtitle="Desarrollo de Software Full Stack - Programación - Ciencias de la Computación - Lógica Matemática - Contenido Multimedia - Bases de Datos"
    />
    <TimeLineElement
      title="Tecnicatura Universitaria en Producción y Automatización - Universidad Nacional de Cuyo (uncuyo)"
      subtitle="Automatismo y Robótica - Informática - Electrónica - Gestión Empresarial - Diseño y Producción Industrial"
    />
    <TimeLineElement
    title="Desarrollo Web - Universidad Tecnológica Nacional (UTN)"
    subtitle="Cursos - Capasitaciones"
    >
    <ul>
      <li>Desarrollo de aplicaciones web vanilla usando HTML, CSS y JavaScript, culminando en un proyecto final que integró estas tecnologías.</li>
      <li>Desarrollo Front-End de aplicaciones web utilizando librerías y frameworks como React, Bootstrap y Tailwind para crear interfaces de usuario.</li>
      <li>Desarrollo de aplicaciones del lado del servidor (Back-End) utilizando Node.js.</li>
      <li>Gestión de bases de datos NoSQL con MongoDB.</li>
      <li>Implementación de APIs y servicios web para la comunicación entre cliente y servidor.</li>
    </ul>
    </TimeLineElement>
  
  </div>



  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold"><span class="text-[#69c7c7]">Capacitaciones</span></div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold"><span class="text-[#69c7c7]">Skills</span></div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>Typescript</li>
    <li>Python</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>React</li>
    <li>Astro</li>
    <li>Redux</li>
    <li>Bootstrap</li>
    <li>Tailwind</li>
    <li>SASS</li>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>MongoDb</li>
    <li>Firebase</li>
    <li>GIT</li>
    <li>Visual Studio Code</li>
    <li>MySQL</li>
    <li>Figma</li>
  </ul>
</BaseLayout>
