---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardProyect from "../components/HorizontalCardProject.astro";
import { proyectData } from "../data/proyectData.js";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <h2 class="text-4xl w-full font-bold mb-5">
    Mis<span class="text-primary"> Proyectos</span>
  </h2>

  <p class="mb-5">
    Explora algunos de mis proyectos personales donde aplico mis habilidades en
    desarrollo web, diseño de interfaces y programación.
  </p>

  {proyectData.map((proyect) => <HorizontalCardProyect {...proyect} />)}

</BaseLayout> 
