---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardProyect from "../components/HorizontalCardProject.astro";
---


<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Mis<span class="text-[#69c7c7]"> Proyectos</span></div>
  </div>

  <HorizontalCardProyect
    title="Blog Personal"
    img="https://pbs.twimg.com/media/GSjJXPEWUAAReFx?format=jpg&name=small"
    desc="Blog personal echo con Astro, React, graphql y tailwind, donde puedes encontrar algunos de mis articulos."
    projectUrl="https://blog-lautaro.onrender.com/"
    githubUrl="https://github.com/Lautaro-R-collins/Blog-lautaro.git"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCardProyect
    title="Video call app"
    img="https://pbs.twimg.com/media/GLgdUdlXoAAq22d?format=jpg&name=small"
    desc="App Web echa con Next.js, TypeScript y tailwind para los estilos, donde puedes programar video llamadas grupales, grabar y guardar la llamada y mas."
    projectUrl="https://meet-app-eta.vercel.app/"
    githubUrl="https://github.com/Lautaro-R-collins/meet-app"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCardProyect
    title="PlaniFy"
    img="https://pbs.twimg.com/media/GLjqUteXwAA9E-1?format=jpg&name=small"
    desc="App Web para organizar tus proyectos, echa con React + Vite, TypeScript y tailwind para los estilos."
    projectUrl="https://planify-1tu6.onrender.com/"
    githubUrl="https://github.com/Lautaro-R-collins/PlaniFy-organization-app"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCardProyect
    title="Vegna web page"
    img="https://pbs.twimg.com/media/GNMQcNCXYAAeBNx?format=jpg&name=small"
    desc="Desarrollo el front-end de una página web dedicada al comercio electrónico y al desarrollo web para este proyecto se uso React + Vite JavaScript y tailwind."
    projectUrl="https://vegna-tech.onrender.com//"
  
  />
  <div class="divider my-0"></div>
  <HorizontalCardProyect
    title="Portfolio Personal"
    img="https://private-user-images.githubusercontent.com/135086443/332552997-ca7a5a00-e30a-453c-aeb7-c50c05c21793.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MjEwNzE3NjcsIm5iZiI6MTcyMTA3MTQ2NywicGF0aCI6Ii8xMzUwODY0NDMvMzMyNTUyOTk3LWNhN2E1YTAwLWUzMGEtNDUzYy1hZWI3LWM1MGMwNWMyMTc5My5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNzE1JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDcxNVQxOTI0MjdaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT0xZThmOGQyMDJmYWE3YWM0NTFjOTQ5OWQ4ZTU2ZDg4YzBiZmJjMDJhNWY5ZTM5Zjc5Y2ZlYTNiZmVjNDU4NmRmJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.fMnyM5njp6WaYjGRxNrqJN51tUdqikrFLuVzjJAHdQ8"
    desc="Mi antiguo Portfolio Personal bilingue (i18n) echo con React, JavaScript y CSS puro."
    projectUrl="https://lautaro-rodriguez.onrender.com/"
    githubUrl="https://github.com/Lautaro-R-collins/mi-portfolio.git"
  />
</BaseLayout>
