---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCardProyect from "../components/HorizontalCardProject.astro";

const technologies = [
  { name: 'Astro', color: '#4CAF50' },
  { name: 'TypeScript', color: '#007ACC' },
  { name: 'Tailwind', color: '#38B2AC' }
];
---


<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-4xl w-full font-bold mb-5">Mis<span class="text-[#69c7c7]"> Proyectos</span></div>
  </div>

  <HorizontalCardProyect
    title="Blog Personal"
    img="https://pbs.twimg.com/media/GSjJXPEWUAAReFx?format=jpg&name=small"
    desc="Blog personal echo con Astro + TypeScript y tailwind, donde puedes encontrar mis articulos."
    projectUrl="https://blog-lautaro.onrender.com/"
    githubUrl="https://github.com/Lautaro-R-collins/Blog-lautaro.git"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCardProyect
    title="Video call app"
    img="https://pbs.twimg.com/media/GLgdUdlXoAAq22d?format=jpg&name=small"
    desc="App Web echa con Next.js, TypeScript y tailwind para los estilos, donde puedes programar video llamadas grupales, grabar y guardar la llamada y mas."
    projectUrl="https://meet-app-eta.vercel.app/"
    githubUrl="https://github.com/Lautaro-R-collins/meet-app"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <!-- <HorizontalCardProyect
    title="CRUD-Gestion de usuarios"
    img="https://pbs.twimg.com/media/GTH8kYNXoAEsp4W?format=png&name=small"
    desc="Interfaz para ingresar, leer, modificar y eliminar usuarios o clientes, desarrollada con React.js y Bootstrap para el frontend, Node.js para el backend y MySQL como base de datos."
    githubUrl="https://github.com/Lautaro-R-collins/crud-gestion-clientes.git"
    badge="NEW"
  /> -->
  <div class="divider my-0"></div>
  <div class="divider my-0"></div>
  <HorizontalCardProyect
    title="PlaniFy"
    img="https://pbs.twimg.com/media/GLjqUteXwAA9E-1?format=jpg&name=small"
    desc="App Web para organizar tus proyectos, echa con React + Vite, TypeScript y tailwind para los estilos."
    projectUrl="https://planify-1tu6.onrender.com/"
    githubUrl="https://github.com/Lautaro-R-collins/PlaniFy-organization-app"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCardProyect
    title="Vegna web page"
    img="https://pbs.twimg.com/media/GNMQcNCXYAAeBNx?format=jpg&name=small"
    desc="Desarrollo el front-end de una página web dedicada al comercio electrónico y al desarrollo web para este proyecto se uso React + Vite JavaScript y tailwind."
    projectUrl="https://vegna-tech.onrender.com//"
  
  />
  <div class="divider my-0"></div>
  <HorizontalCardProyect
    title="Portfolio Personal"
    img="https://pbs.twimg.com/media/GSkG_DIWgAATtdY?format=jpg&name=small"
    desc="Mi antiguo Portfolio Personal bilingue (i18n) echo con React, JavaScript y CSS puro."
    projectUrl="https://lautaro-rodriguez.onrender.com/"
    githubUrl="https://github.com/Lautaro-R-collins/mi-portfolio.git"
  />
</BaseLayout>
